[project]
name = "firework-spark"
version = "0.1.0"
description = "Default template for PDM package"
authors = [
    {name = "Elaina", email = "GreyElaina@outlook.com"},
]
dependencies = [
    # 我只凭我的记忆写下这些。
    # 如果我做错了什么，对不起。
    
    # Common
    "loguru>=0.7.2",
    "richuru>=0.1.1",
    "exceptiongroup>=1.2.2",
    "typing-extensions>=4.12.2",
    # ---

    # Sistana = <firework.command.core>
    # Credits: Elaina; Tarraint
    "elaina-segment>=0.4.0",
    "tarina>=0.6.3",
    # ---

    # Yanagi = <firework.command>
    # Credits: Elaina
    # ---

    # Flywheel = <firework.entrypoint>
    # Credits: Elaina
    # ---

    # Flywheel SansIO = <firework.backend>
    # Credits: Elaina
    "awaitlet>=0.0.1",
    # ---

    # Nekobox = <firework.backend.lagrange>
    # Credits: wyapx; Tarraint; linwenxuan; Elaina, ...
    "lagrange-python>=0.1.5",
    # ---

    # Kayaku = <firework.cli.config>
    # Credits: BlueGlassBlock; Elaina
    # ---

    # Luma = <firework.cli>
    # Credits: BlueGlassBlock, Elaina
    # ---

    # Launart = <firework.bootstrap>
    # Credits: Elaina; BlueGlassBlock; ProgramRipper; Tarraint
    # ---

    # Amnesia = <firework.core>, <firework.bootstrap.external>
    # Credits: Elaina; BlueGlassBlock; ProgramRipper; Tarraint
    # ---

    # Saya = <firework.modular>
    # Credits: Elaina; BlueGlassBlock; ProgramRipper; Tarraint
    # ---

    # Avilla = <firework.core>
    # Credits: Elaina; BlueGlassBlock; ProgramRipper; Tarraint
    # Note: ……别担心，Firework 只能是我自己的一厢情愿，它终究无法与 Graia 割舍一分一毫，上面的记录即是见证。
    #       只是我来的太晚了。
    #       对不起。
    # ---
    "importlib-metadata>=8.5.0",
    "tomlkit>=0.13.2",
    "jsonschema>=4.23.0",
    "dacite>=1.8.1"
]
requires-python = ">=3.11"
readme = "README.md"
license = {text = "MIT"}

[project.optional-dependencies]
uvicorn = ["uvicorn>=0.32.0"]
aiohttp = ["aiohttp>=3.10.10"]
richuru = ["richuru>=0.1.1"]

[dependency-groups]
dev = ["ruff>=0.7.2", "pytest>=8.3.3"]

[tool.pdm]
distribution = true

[tool.ruff]
line-length = 135

[tool.ruff.lint]
extend-select = ["I001"]

[build-system]
requires = ["pdm-backend"]
build-backend = "pdm.backend"
